/* DOCUMENTO DE ESTILO */

.tela-login{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.barra-navegacao{
    width: 100%;
    background-color: #ccc;
}

.conteudo-nav{
    display: flex;
    height: 25px; /*cuidado tamanho fixo*/
    padding: 10px; /*cuidado tamanho fixo*/
    justify-content: space-between;
    align-items: center;
}

.conteudo-login{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
}

.opcoes-entrada{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.efetuar-login{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.entrada-dados{
    width: 50%;
    height: 70vh; 
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.botao-login{
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border: 1.25px solid #ccc;
    background-color: white;
    border-radius: 0.4rem; 
    color: #333;
    font: 13px message-box, sans-serif;
}

.botao{
    width: 8rem;
    height: 3rem;
    padding: 6px;
    border: 1.25px solid #ccc;
    background-color: white;
    border-radius: 0.4rem; 
    color: #333;
    font: 13px message-box, sans-serif;
}

.borda-esquerda{
    border-radius: 0.4rem 0 0 0.4rem;
}

.borda-direita{
    border-radius: 0 0.4rem 0.4rem 0;
}

.selecionado{
    background-color: #ccc; 
}

.introducao{
    width: 50%;
    height: 70vh;
    background-color: #ccc;
}

.background-introducao{
    max-width: 100%;
    height: 100%;
    margin-left: 7rem;
    margin-right: 7rem;
    background-image: url("../imagens/introducao.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icones{
    width: 18px;
    height: 16px;
    margin-right: 15px;
}
.input{
    border-radius:  0.4rem;
  
}
.acessar{
    width: 14rem;
    height: 3rem;
    padding: 6px;
    border: 1.25px solid #ccc;
    background-color: white;
    border-radius: 0.4rem; 
    color: #333;
    font: 13px message-box, sans-serif;
}

.esconder{
    display: none;
}